body {
  background-image: url("img/background-image.jpg");
  background-attachment: fixed;
  background-size: cover;
  max-width: auto;
}

div.container {
  background-image: url("img/background-image.jpg")
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "header"
    "about"
    "event"
    "signup"
    "footer";

  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
}

h1 {
  grid-area: signup;
  text-align: center;
  font-size: 40px;
  font-family: 'Bungee Outline', cursive;
  color: #ffffff;
}


img {
  max-width: 100%;
  max-height: 100%;
  text-align: center;
}

button{
  background-color: #FFFFFF;
  border-radius: 50%;
  color: #000000;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  box-shadow: 0 9px #a6a7a8;
}



h2{
   font-family: 'Bungee Shade', cursive;
   text-align: center;
   font-size: 32px;
}

main {
}

p{
  font-size: 18px;
  line-height: 2.0;
  color: #ffffff;
  font-family: 'Acme', sans-serif;
  margin-left: 32px;
  margin-right: 32px;
}

ul{
  font-size: 18px;
  line-height: 2.0;
  color: #ffffff;
  font-family: 'Acme', sans-serif;
  margin-left: 32px;
  margin-right: 32px;
}

section {
    min-height: 300px;
}

section#about {
  background-image: url("img/background-image.jpg")
  grid-area: about;
  color: #ffffff;
}

/* unvisited link */
a:link {
    color:#edccff;
}

/* visited link */
a:visited {
    color: #edccff;
}

/* mouse over link */
a:hover {
    color: hotpink;
}

/* selected link */
a:active {
    color: #91f7ff;
}

section#event {
  background-image: url("img/background-image.jpg")
  grid-area: event;
  color: #ffffff;
}

section#signup {
  background-image:url("img/background-image.jpg")
  grid-area: signup;
  color: #ffffff;
}

input[type=button], input[type=submit], input[type=reset] {
    background-color: #3CBC8D;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}

fieldset {
    border: 2px solid #3CBC8D;
    border-radius: 4px;
    margin-left: 32px;
    margin-right: 32px;
}

legend {
    font-family: 'Acme', sans-serif;
    line-height: 2.0;
    color: #3cbc8d;
    font-size: 18px;
}

label {
  font-family: 'Acme', sans-serif;
  line-height: 2.0;
  color: #ffffff;
  font-size: 18px;
}

footer {
  background-image: url("img/background-image.jpg")
  grid-area: footer;
  color: #ffffff;
  font-size: 32px;
  font-family: 'Bungee Shade', cursive;
}

@media (min-width: 800px) {
  div.container {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "header header"
      "event event"
      "about signup"
      "footer footer";
  }
}
